@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 13%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 0 0% 13%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 0, 0%, 13%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 0, 0%, 13%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --text-gradient: linear-gradient(180deg, #000000, #363636);
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 6%;
    --foreground: 0 0% 93%;

    --card: 0 0% 13%;
    --card-foreground: 0 0% 98%;

    --popover: 0, 0%, 13%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 13%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --text-gradient: linear-gradient(180deg, #fff, #adadad);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.text-gradient {
  background: var(--text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  font-family: var(--font-averta);
}

.averta-semibold {
  font-family: var(--font-averta-semibold);
}

.averta-bold {
  font-family: var(--font-averta-bold);
}

@layer components {
  .hero-typography {
    @apply text-4xl md:text-6xl xl:text-6xl xl:leading-[1.125] text-start averta-bold;
  }

  .hero-typography-normal {
    @apply text-3xl md:text-6xl;
  }

  .section-title-typography {
    @apply text-2xl md:text-4xl xl:text-[45px] uppercase averta-bold mb-5 md:mb-10;
  }

  .section-p-typography {
    @apply text-[14px] leading-relaxed md:text-[20px] md:leading-8 text-[#666666] dark:text-[#e6e6e6];
  }

  .sub-section-title-typography {
    @apply text-lg md:text-2xl xl:text-3xl averta-semibold
    mb-5;
  }
}

body {
  transition: background-color 0.4s, color 0.4s, border 0.4s;
  // overflow: hidden;
}

@media (min-width: 1920px) {
  body {
    max-width: 1920px;
    margin: auto;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 0.8s infinite;
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }

  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
