.button {
  z-index: 2;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d5211b;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burger {
  width: 100%;
  &::after,
  &::before {
    content: "";
    display: block;
    height: 1px;
    width: 40%;
    margin: auto;
    background-color: white;
    position: relative;
    transition: transform 0.3s;
  }

  &::after {
    top: -4px;
  }

  &::before {
    top: 4px;
  }
}

.burgerActive {
  &::after {
    transform: rotate(45deg);
    top: -1px;
  }

  &::before {
    transform: rotate(-45deg);
    top: 0px;
  }
}

.spacer {
  height: 100vh;
}

.imageContainer {
  position: absolute;
  padding: 20px 30px;
  img {
    object-fit: cover;
  }
  &:nth-of-type(1) {
    left: 5%;
    width: 300px;
    top: 40vh;
    z-index: 3;
    @media screen and (max-width: 450px) {
      width: 200px;
    }
  }
  &:nth-of-type(2) {
    left: 0;
    top: 0;
    z-index: 2;
  }
  &:nth-of-type(3) {
    right: 5%;
    width: 300px;
    top: 40vh;
    z-index: 3;
    @media screen and (max-width: 450px) {
      width: 200px;
      //zoom: 0.8;
    }
  }
}
